*{
    background-color: rgb(175, 235, 235);
}
h1{
    background-color: rgb(174, 255, 0);
    color: rgb(228, 9, 9);
}
h2{
    border: 2px solid black;
    background-color: brown;
    color: rgb(20, 20, 20);
}